body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.main-heading {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.posts-list {
    display: grid;
    grid-template-columns: 1fr ; /* 1 column for the image, 2 columns for content and actions */
    gap: 5px;
}

.post {
    border: 1px solid #ccc;
    display: grid;
    grid-template-rows: auto auto auto; /*3 rows for image, title, content, and actions*/
    /* grid-template-rows: 1fr;  */
    gap: 10px;
}

/* .image-div {
    grid-row: span 3; /* Image takes up 3 rows */
/* }  */

.image-div img {
    max-width: 100%;
    /* max-height: 100%; */
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.contents {
    grid-column: 2;
    display: grid;
    gap: 10px;
}

.post-title {
    margin-top: 0;
}

.post-actions {
    display: flex;
    gap: 10px;
}

/* Style for the create post form */
.create-post-form {
    margin-top: 20px;
}



/*
.posts-list {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
     padding: 20px; 
}



.post {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
} 
.posts-list {
    display: flex;
    flex-wrap: wrap;
}

.post {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.post-title {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.post-content {
    margin-top: 10px;
}

.image-div {
    flex: 1;
    margin-right: 10px;
}

.image-div img {
    max-width: 100%;
    max-height: 100%;
}

.text {
    flex: 2;
}

.post img {
    max-width: 100%; /* Make the image fill the container */
    /* max-height: 200px; Set a maximum height for the image */
    /* object-fit: cover; Maintain aspect ratio and cover the container */
    /* margin-bottom: 10px; */
/* } */

/*.post-actions {
    margin-top: 10px;
    /* display: grid;
    grid-template-rows: repeat(2, 1fr); */
/* } */
/*
.edit-button,
.delete-button {
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #4a5e4a;
}

.edit-button {
    background-color: #3498db;
}

.delete-button {
    background-color: #e74c3c;
    cursor: pointer;
}

.create-post-form {
    padding: 20px;
    margin-top: 20px;
}

.new-post-form {
    display: grid;
    gap: 10px;
}

.image-label,
.title-label,
.content-label {
    margin-bottom: 5px;
}

.image-input,
.title-input,
.content-input,
.submit-button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.image-input{
    max-width:100%;
    height: auto;
}

.submit-button {
    background-color: #2ecc71;
    color: #fff;
    cursor: pointer;
}
*/